<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-family:sans-serif;margin-left:2em; background-color: #fff;">
<h3>{{ title }}</h3>
{% if description %}
    <p>{{ description }}</p>
{% endif %}
<table style="width: 100%; margin-top: 15px; max-width: 500px">
    <tr>
        <td>Name</td>
        <td>{{ signer_name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ signer_email }}</td>
    </tr>
    <tr>
        <td>Request From</td>
        <td>
            {{ user.get_full_name }}<br>
            {{ user.email }}
        </td>
    </tr>
    <tr>
        <td style="font-weight: 600; font-size: 18px">Agreed</td>
        <td style="color: #fff;">/signer_signature/</td>
    </tr>
</table>
</body>
</html>